<!doctype html>
{% load static %}
<!--[if lt IE 8]><html class="no-js lt-ie8"> <![endif]-->
<html class="no-js">
<head>
<meta charset="utf-8">
<title>Little Bobby Tables</title>
<!-- Mobile specific metas -->
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1 user-scalable=no">
<!-- Force IE9 to render in normal mode -->
<!--[if IE]><meta http-equiv="x-ua-compatible" content="IE=9" /><![endif]-->
<meta name="author" content="" />
<meta name="description" content="" />
<meta name="keywords" content="" />
<meta name="application-name" content="" />
<!-- Css files -->
<!-- Icons -->
<link href="{% static  "css/icons.css" %}" rel="stylesheet" />
<!-- Bootstrap stylesheets (included template modifications) -->
<link href="{% static  "css/bootstrap.css" %}" rel="stylesheet" />
<!-- Plugins stylesheets (all plugin custom css) -->
<link href="{% static  "css/plugins.css" %}" rel="stylesheet" />
<!-- Main stylesheets (template main css file) -->
<link href="{% static  "css/main.css" %}" rel="stylesheet" />
<!-- Custom stylesheets ( Put your own changes here ) -->
<link href="{% static  "css/custom.css" %}" rel="stylesheet" />
<!-- Fav and touch icons -->
<link rel="apple-touch-icon-precomposed" sizes="144x144" href="{% static  "img/ico/apple-touch-icon-144-precomposed.png" %}">
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="{% static  "img/ico/apple-touch-icon-114-precomposed.png" %}">
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="{% static  "img/ico/apple-touch-icon-72-precomposed.png" %}">
<link rel="apple-touch-icon-precomposed" href="{% static  "img/ico/apple-touch-icon-57-precomposed.png" %}">
<link rel="icon" href="{% static  "img/ico/favicon.ico" %}" type="image/png">
<!-- Windows8 touch icon ( http://www.buildmypinnedsite.com/ )-->
<meta name="msapplication-TileColor" content="#3399cc" />
</head>
<body>
<!--[if lt IE 9]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->
<!-- .page-navbar -->
<div id="header" class="page-navbar">
<!-- .navbar-brand -->
<a href="index.html" class="navbar-brand hidden-xs hidden-sm">
    <img src="{% static  "img/logo.png" %}" class="logo hidden-xs" alt="Dynamic logo">
    <img src="{% static  "img/logosm.png" %}" class="logo-sm hidden-lg hidden-md" alt="Dynamic logo">
</a>
<!-- / navbar-brand -->
<!-- .no-collapse -->
<div id="navbar-no-collapse" class="navbar-no-collapse">
    <!-- top left nav -->
    <ul class="nav navbar-nav">
        <li class="toggle-sidebar">
            <a href="#">
                <i class="fa fa-reorder"></i>
                <span class="sr-only">Collapse sidebar</span>
            </a>
        </li>
    </ul>
    <!-- / top left nav -->
    <!-- top right nav -->
    <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
            <a href="#" data-toggle="dropdown">
                <i class="fa fa-cog"></i>
                <span class="sr-only">Settings</span>
            </a>
            <ul class="dropdown-menu dropdown-form dynamic-settings right" role="menu">
                <li><a href="#" class="dropdown-menu-header">View settings</a>
                </li>
                <li>
                    <div class="toggle-custom">
                        <label class="toggle" data-on="ON" data-off="OFF">
                            <input type="checkbox" id="fixed-header-toggle" name="fixed-header-toggle" checked>
                            <span class="button-checkbox"></span>
                        </label>
                        <label for="fixed-header-toggle">Fixed header</label>
                    </div>
                </li>
                <li>
                    <div class="toggle-custom">
                        <label class="toggle" data-on="ON" data-off="OFF">
                            <input type="checkbox" id="fixed-left-sidebar" name="fixed-left-sidebar" checked>
                            <span class="button-checkbox"></span>
                        </label>
                        <label for="fixed-left-sidebar">Fixed Left Sidebar</label>
                    </div>
                </li>
            </ul>
        </li>
        <li>
            <a href="login.html">
                <i class="fa fa-power-off"></i>
                <span class="sr-only">Logout</span>
            </a>
        </li>
    </ul>
    <!-- / top right nav -->
</div>
<!-- / collapse -->
</div>
<!-- / page-navbar -->
<!-- #wrapper -->
<div id="wrapper">
<!-- .page-sidebar -->
<aside id="sidebar" class="page-sidebar hidden-md hidden-sm hidden-xs">
    <!-- Start .sidebar-inner -->
    <div class="sidebar-inner">
        <!-- Start .sidebar-scrollarea -->
        <div class="sidebar-scrollarea">
            <!--  .sidebar-panel -->
            <div class="sidebar-panel">
                <h5 class="sidebar-panel-title">Navigation</h5>
            </div>
            <!-- / .sidebar-panel -->
            <!-- .side-nav -->
            <div class="side-nav">
                <ul class="nav">
                    <li><a href="/index"><i class="l-basic-laptop"></i><span class="txt">Home Page</span></a>
                    </li>
                    <li>
                        <a href="#"><i class="l-software-layout-header-3columns""></i> <span class="txt">Queries</span></a>
                        <ul class="sub">
                            <li><a href="/rating_and_address_search"><span class="txt">Location Based Rating</span></a>
                            </li>
                            <li><a href="/open_hours_and_type_search"><span class="txt">Type Open Hours</span></a>
                            </li>
                            <li><a href="/full_search"><span class="txt">All</span></a>
                            </li>
                            <li><a href="/text_search"><span class="txt">Text Search</span></a>
                            </li>
                            <li><a href="/statistics"><span class="txt">Statistics</span></a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <!-- End .sidebar-scrollarea -->
    </div>
    <!-- End .sidebar-inner -->
</aside>
<!-- / page-sidebar -->