{% load static %}
{% include "header_and_sidebar.html" %}
            <!-- .page-content -->
            <div class="page-content sidebar-page clearfix">
                <!-- .page-content-wrapper -->
                <div class="page-content-wrapper">
                    <div class="page-content-inner">
                        <!-- Start .page-content-inner -->
                        <br>
                        <!-- Start .row -->
                        <div class="row">
                            <!--<div class="col-lg-6 col-md-6 col-sm-12">-->
                                <div class="panel panel-default plain">
                                    <!-- Start .panel -->
                                    <div class="panel-heading">
                                        <h4 class="panel-title bb">Place Details</h4>
                                    </div>
                                    <div class="panel-body">
                                        <div class="row profile">
                                            <!-- Start .row -->
                                            <div class="col-md-4">
                                                <div class="profile-avatar" style="height: 200px;">
                                                    <img src="{{ image_url }}">
                                                    <br>
                                                </div>
                                                <div class="profile-avatar" style="height: 200px;">
                                                    <button type="button" class="btn btn-primary btn-alt mr5 mb10 gallery-button" href="/gallery?place_id={{ place_id }}">Gallery</button>
                                                    <br>
                                                </div>
                                            </div>
                                            <div class="col-md-8">
                                                <div class="profile-name">
                                                    <h3>{{ name }}</h3>
                                                    <p class="job-title mb0">
                                                        <ul>
                                                            {% for type_dict in types %}
                                                                <li>{{ type_dict.name }}</li>
                                                            {% endfor %}
                                                        </ul>
                                                    </p>
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="contact-info bt">
                                                    <div class="row">
                                                        <!-- Start .row -->
                                                        <div class="col-md-4">
                                                            <dl class="mt20">
                                                                <dt class="text-muted">Phone</dt>
                                                                <dd>{{ phone_number }}</dd>
                                                                <dt class="text-muted">Rating</dt>
                                                                <dd>{{ rating }}</dd>
                                                                <dt class="text-muted">Website</dt>
                                                                <dd>{{ website }}</dd>
                                                            </dl>
                                                        </div>
                                                        <div class="col-md-8">
                                                            <dl class="mt20">
                                                                <dt class="text-muted">Opening hours</dt>
                                                                <ul>
                                                                    {% for opening_hours in opening_hours_list %}
                                                                    <li>
                                                                        {{ opening_hours.day }}, {{ opening_hours.open}} - {{ opening_hours.close}}
                                                                    </li>
                                                                    {% endfor %}
                                                                </ul>
                                                            </dl>
                                                        </div>
                                                    </div>
                                                    <!-- End .row -->
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="profile-info bt">
                                                    <h5 class="text-muted">Reviews</h5>


                                                        <!-- Start .panel -->
                                                        <div class="panel-heading">
                                                            <h4 class="panel-title">Reviews</h4>
                                                        </div>
                                                        {% for review in reviews %}
                                                        <div class="panel-body">
                                                                <strong>Author Name: {{ review.author_name }}</strong>
                                                                <br>
                                                                <h7>Rating: {{ review.rating }}</h7>
                                                            </address>
                                                            <pre class="prettyprint">
                                                                <code class="html">
                                                                    {{ review.text }}
                                                                </code>
                                                            </pre>
                                                        </div>
                                                        {% endfor %}
                                                </div>
                                                    <!-- End .panel -->


                                            </div>
                                        </div>
                                        <!-- End .row -->
                                    </div>
                                </div>
                                <!-- End .panel -->
                            <!-- col-lg-4 end here -->
                        </div>
                        <!-- End .row -->
                    </div>
                    <!-- End .page-content-inner -->
                </div>
                <!-- / page-content-wrapper -->
            </div>
            <!-- / page-content -->
        </div>
        <!-- / #wrapper -->
        <!-- Back to top -->
        <div id="back-to-top"><a href="#">Back to Top</a>
        </div>
        <!-- Javascripts -->
        <!-- Load pace first -->
        <script src="{% static  "plugins/core/pace/pace.min.js" %}"></script>
        <!-- Important javascript libs(put in all pages) -->
        <script src="{% static  "http://code.jquery.com/jquery-2.1.1.min.js" %}"></script>
        <script>
        window.jQuery || document.write('<script src="{% static  "js/libs/jquery-2.1.1.min.js" %}">\x3C/script>')
        </script>
        <script src="{% static  "http://code.jquery.com/ui/1.10.4/jquery-ui.js" %}"></script>
        <script>
        window.jQuery || document.write('<script src="{% static  "js/libs/jquery-ui-1.10.4.min.js" %}">\x3C/script>')
        </script>
        <!--[if lt IE 9]>
  <script type="text/javascript" src="{% static  "js/libs/excanvas.min.js" %}"></script>
  <script type="text/javascript" src="{% static  "http://html5shim.googlecode.com/svn/trunk/html5.js" %}"></script>
  <script type="text/javascript" src="{% static  "js/libs/respond.min.js" %}"></script>
<![endif]-->
        <!-- Bootstrap plugins -->
        <script src="{% static  "js/bootstrap/bootstrap.js" %}"></script>
        <!-- Core plugins ( not remove ) -->
        <script src="{% static  "js/libs/modernizr.custom.js" %}"></script>
        <!-- Handle responsive view functions -->
        <script src="{% static  "js/jRespond.min.js" %}"></script>
        <!-- Custom scroll for sidebars,tables and etc. -->
        <script src="{% static  "plugins/core/slimscroll/jquery.slimscroll.min.js" %}"></script>
        <script src="{% static  "plugins/core/slimscroll/jquery.slimscroll.horizontal.min.js" %}"></script>
        <!-- Remove click delay in touch -->
        <script src="{% static  "plugins/core/fastclick/fastclick.js" %}"></script>
        <!-- Increase jquery animation speed -->
        <script src="{% static  "plugins/core/velocity/jquery.velocity.min.js" %}"></script>
        <!-- Quick search plugin (fast search for many widgets) -->
        <script src="{% static  "plugins/core/quicksearch/jquery.quicksearch.js" %}"></script>
        <!-- Bootbox fast bootstrap modals -->
        <script src="{% static  "plugins/ui/bootbox/bootbox.js" %}"></script>
        <!-- Other plugins ( load only nessesary plugins for every page) -->
        <script src="{% static  "js/libs/date.js" %}"></script>
        <script src="{% static  "plugins/charts/flot/jquery.flot.custom.js" %}"></script>
        <script src="{% static  "plugins/charts/flot/jquery.flot.resize.js" %}"></script>
        <script src="{% static  "plugins/charts/flot/jquery.flot.time.js" %}"></script>
        <script src="{% static  "plugins/charts/flot/jquery.flot.growraf.js" %}"></script>
        <script src="{% static  "plugins/charts/flot/jquery.flot.categories.js" %}"></script>
        <script src="{% static  "plugins/charts/flot/jquery.flot.stack.js" %}"></script>
        <script src="{% static  "plugins/charts/flot/jquery.flot.orderBars.js" %}"></script>
        <script src="{% static  "plugins/charts/flot/jquery.flot.tooltip.min.js" %}"></script>
        <script src="{% static  "plugins/charts/flot/jquery.flot.curvedLines.js" %}"></script>
        <script src="{% static  "plugins/charts/sparklines/jquery.sparkline.js" %}"></script>
        <script src="{% static  "plugins/ui/waypoint/waypoints.js" %}"></script>
        <script src="{% static  "plugins/ui/weather/skyicons.js" %}"></script>
        <script src="{% static  "plugins/ui/notify/jquery.gritter.js" %}"></script>
        <script src="{% static  "plugins/misc/vectormaps/jquery-jvectormap-1.2.2.min.js" %}"></script>
        <script src="{% static  "plugins/misc/vectormaps/maps/jquery-jvectormap-world-mill-en.js" %}"></script>
        <script src="{% static  "plugins/misc/countTo/jquery.countTo.js" %}"></script>
        <script src="{% static  "js/jquery.dynamic.js" %}"></script>
        <script src="{% static  "plugins/forms/fancyselect/fancySelect.js" %}"></script>
        <script src="{% static  "plugins/forms/select2/select2.js" %}"></script>
        <script src="{% static  "plugins/forms/maskedinput/jquery.maskedinput.js" %}"></script>
        <script src="{% static  "plugins/forms/dual-list-box/jquery.bootstrap-duallistbox.js" %}"></script>
        <script src="{% static  "plugins/forms/spinner/jquery.bootstrap-touchspin.js" %}"></script>
        <script src="{% static  "plugins/forms/bootstrap-timepicker/bootstrap-timepicker.js" %}"></script>
        <script src="{% static  "js/libs/typeahead.bundle.js" %}"></script>
        <script src="{% static  "plugins/forms/summernote/summernote.js" %}"></script>
        <script src="{% static  "plugins/forms/bootstrap-markdown/bootstrap-markdown.js" %}"></script>
        <script src="{% static  "plugins/forms/dropzone/dropzone.js" %}"></script>
        <script src="{% static  "plugins/charts/sparklines/jquery.sparkline.js" %}"></script>
        <script src="{% static  "js/jquery.dynamic.js" %}"></script>
        <script src="{% static  "js/main.js" %}"></script>
        <script src="{% static  "js/pages/forms-advanced.js" %}"></script>
    </body>
</html>