{% load static %}
{% include "header_and_sidebar.html" %}

            <!-- / end-of-header-and-sidebar -->

            <!-- .page-content -->
            <div class="page-content sidebar-page clearfix">
                <!-- .page-content-wrapper -->
                <div class="page-content-wrapper">
                    <div class="page-content-inner">
                        <!-- .page-content-inner -->

                        <!--HERE COMES THE SEARCH FORM-->
                        <!-- Start .row -->
                        <div class="row">
                            </br></br>
                            <div class="col-lg-12">
                                <!-- col-lg-12 start here -->
                                <div class="panel panel-default toggle panelMove ">
                                    <!-- Start .panel -->
                                    <div class="panel-heading">
                                        <h4 class="panel-title">Search</h4>
                                    </div>
                                    <div class="panel-body pt0 pb0">
                                        <form id="validate" class="form-horizontal group-border stripped" role="form" method="get" action="">
                                            <div class="form-group">
                                                <label class="col-lg-2 col-md-3 control-label" for="">Rating</label>
                                                <div class="col-lg-10 col-md-9">
                                                    <input id="decimal-spinner" class="form-control" type="text" value="4.00" name="rating">
                                                </div>
                                            </div>
                                            <!-- End .form-group  -->
                                            <div class="form-group">
                                                <label for="address" class="col-lg-2 col-md-3 control-label">Address</label>
                                                <div class="col-lg-10 col-md-9">
                                                    <input type="text" class="form-control" id="address" name="address" placeholder="Enter address">
                                                </div>
                                            </div>
                                            <!-- End .form-group  -->
                                            <div class="form-group">
                                                <label class="col-lg-2 col-md-3 control-label" for="">Radius</label>
                                                <div class="col-lg-10 col-md-9">
                                                    <input id="basic-spinner" class="form-control" type="text" value="1000" name="radius">
                                                </div>
                                            </div>
                                            <!-- End .form-group  -->
                                        </form>
                                    </div>
                                </div>
                                <!-- End .panel -->
                            </div>
                            <!-- col-lg-12 end here -->
                        </div>
                        <!-- End .row -->

                        <!-- .row -->
                        <br>
                        {% include "table.html" %}
                    </div>
                    <!-- / .page-content-inner -->
                </div>
                <!-- / page-content-wrapper -->
            </div>
            <!-- / page-content -->
        </div>
        <!-- / #wrapper -->
        <!-- Back to top -->
        <div id="back-to-top"><a href="#">Back to Top</a>
        </div>
        <!-- Javascripts -->
        <!-- Load pace first -->
        <script src="{% static  "plugins/core/pace/pace.min.js" %}"></script>
        <!-- Important javascript libs(put in all pages) -->
        <script src="{% static  "http://code.jquery.com/jquery-2.1.1.min.js" %}"></script>
        <script>
        window.jQuery || document.write('<script src="{% static  "js/libs/jquery-2.1.1.min.js" %}">\x3C/script>')
        </script>
        <script src="{% static  "http://code.jquery.com/ui/1.10.4/jquery-ui.js" %}"></script>
        <script>
        window.jQuery || document.write('<script src="{% static  "js/libs/jquery-ui-1.10.4.min.js" %}">\x3C/script>')
        </script>
        <!--[if lt IE 9]>
  <script type="text/javascript" src="{% static  "js/libs/excanvas.min.js" %}"></script>
  <script type="text/javascript" src="{% static  "http://html5shim.googlecode.com/svn/trunk/html5.js" %}"></script>
  <script type="text/javascript" src="{% static  "js/libs/respond.min.js" %}"></script>
<![endif]-->
        <!-- Bootstrap plugins -->
        <script src="{% static  "js/bootstrap/bootstrap.js" %}"></script>
        <!-- Core plugins ( not remove ) -->
        <script src="{% static  "js/libs/modernizr.custom.js" %}"></script>
        <!-- Handle responsive view functions -->
        <script src="{% static  "js/jRespond.min.js" %}"></script>
        <!-- Custom scroll for sidebars,tables and etc. -->
        <script src="{% static  "plugins/core/slimscroll/jquery.slimscroll.min.js" %}"></script>
        <script src="{% static  "plugins/core/slimscroll/jquery.slimscroll.horizontal.min.js" %}"></script>
        <!-- Remove click delay in touch -->
        <script src="{% static  "plugins/core/fastclick/fastclick.js" %}"></script>
        <!-- Increase jquery animation speed -->
        <script src="{% static  "plugins/core/velocity/jquery.velocity.min.js" %}"></script>
        <!-- Quick search plugin (fast search for many widgets) -->
        <script src="{% static  "plugins/core/quicksearch/jquery.quicksearch.js" %}"></script>
        <!-- Bootbox fast bootstrap modals -->
        <script src="{% static  "plugins/ui/bootbox/bootbox.js" %}"></script>
        <!-- Other plugins ( load only nessesary plugins for every page) -->
        <script src="{% static  "js/libs/date.js" %}"></script>
        <script src="{% static  "plugins/charts/flot/jquery.flot.custom.js" %}"></script>
        <script src="{% static  "plugins/charts/flot/jquery.flot.resize.js" %}"></script>
        <script src="{% static  "plugins/charts/flot/jquery.flot.time.js" %}"></script>
        <script src="{% static  "plugins/charts/flot/jquery.flot.growraf.js" %}"></script>
        <script src="{% static  "plugins/charts/flot/jquery.flot.categories.js" %}"></script>
        <script src="{% static  "plugins/charts/flot/jquery.flot.stack.js" %}"></script>
        <script src="{% static  "plugins/charts/flot/jquery.flot.orderBars.js" %}"></script>
        <script src="{% static  "plugins/charts/flot/jquery.flot.tooltip.min.js" %}"></script>
        <script src="{% static  "plugins/charts/flot/jquery.flot.curvedLines.js" %}"></script>
        <script src="{% static  "plugins/charts/sparklines/jquery.sparkline.js" %}"></script>
        <script src="{% static  "plugins/ui/waypoint/waypoints.js" %}"></script>
        <script src="{% static  "plugins/ui/weather/skyicons.js" %}"></script>
        <script src="{% static  "plugins/ui/notify/jquery.gritter.js" %}"></script>
        <script src="{% static  "plugins/misc/vectormaps/jquery-jvectormap-1.2.2.min.js" %}"></script>
        <script src="{% static  "plugins/misc/vectormaps/maps/jquery-jvectormap-world-mill-en.js" %}"></script>
        <script src="{% static  "plugins/misc/countTo/jquery.countTo.js" %}"></script>
        <script src="{% static  "js/jquery.dynamic.js" %}"></script>
        <script src="{% static  "plugins/forms/fancyselect/fancySelect.js" %}"></script>
        <script src="{% static  "plugins/forms/select2/select2.js" %}"></script>
        <script src="{% static  "plugins/forms/maskedinput/jquery.maskedinput.js" %}"></script>
        <script src="{% static  "plugins/forms/dual-list-box/jquery.bootstrap-duallistbox.js" %}"></script>
        <script src="{% static  "plugins/forms/spinner/jquery.bootstrap-touchspin.js" %}"></script>
        <script src="{% static  "plugins/forms/bootstrap-timepicker/bootstrap-timepicker.js" %}"></script>
        <script src="{% static  "js/libs/typeahead.bundle.js" %}"></script>
        <script src="{% static  "plugins/forms/summernote/summernote.js" %}"></script>
        <script src="{% static  "plugins/forms/bootstrap-markdown/bootstrap-markdown.js" %}"></script>
        <script src="{% static  "plugins/forms/dropzone/dropzone.js" %}"></script>
        <script src="{% static  "plugins/charts/sparklines/jquery.sparkline.js" %}"></script>
        <script src="{% static  "js/jquery.dynamic.js" %}"></script>
        <script src="{% static  "js/main.js" %}"></script>
        <script src="{% static  "js/pages/forms-advanced.js" %}"></script>
    </body>
</html>